
<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
  <div *ngFor="let pokemon of pokemons">
  <div class="col">
      <div class="card shadow-sm">
        <img src="{{pokemon.image}}" alt="picture of {{pokemon.name}}" class="border border-success border-2">
        <div class="card-body">
          <p class="card-text text-center text-success fs-3">{{pokemon.name}}</p>
          <div class="d-flex justify-content-center">
                <button (click)="sendPokemon(pokemon)" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-outline-success">Show Details</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
